
# Compiled class file
*.class
*.classpath
*.factorypath

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# temp ignore
*.cache
*.diff
*.patch
*.tmp

# Maven ignore
.flattened-pom.xml


# IDE Files #
*.iml
.idea
.idea/
.project
.settings
target
.DS_Store

target/
demo/justAuth-security-oauth2-example/target/


.gitignore
.idea/checkstyleidea.tmp/
demo/justAuth-security-oauth2-example/src/test/
demo/justAuth-security-oauth2-example/target/generated-sources/
src/test/
target/generated-sources/
target/generated-test-sources/
target/test-classes/
/target/
/demo/justAuth-security-oauth2-example/target/
/.idea/
!/.gitignore
/src/main/java/top/dcenter/ums/security/core/oauth/repository/jdbc/cache/DefaultCacheStatisticsCollector.java
/src/main/java/top/dcenter/ums/security/core/oauth/repository/jdbc/cache/MutableCacheStatistics.java
/src/main/java/top/dcenter/ums/security/core/oauth/repository/jdbc/cache/RedisHashCacheWriter_24.java
